/* src/components/Modals/VerContenido/ModalVerContenido.css */

.modal-ver-contenido-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Encima del otro modal */
}

.modal-ver-contenido-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 1000px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.modal-ver-contenido-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.modal-ver-contenido-header h2 {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-ver-contenido-body {
  flex-grow: 1;
  overflow: auto;
  text-align: center;
}

.preview-content {
  max-width: 100%;
  max-height: 100%;
  height: 70vh;
}
